.hide {
	display: none;
}

.body-style {
	width: 400px;
}

.save-button {
	width: 100px;
    height: 40px;
    background-color: #726ac9;
    font-size: 30px;
    font-weight: 400;
}

.booking-progress {
    width: 250px;
    height: 50px;
    background-color: #195bc4;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.ticket-input {
	width: 200px;
    height: 30px;
}

.heading-text {
	font-size: 40px;
    font-weight: bold;
}